<!DOCTYPE html>
<html lang="en">
<head>


  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">FaunaFication</a>
    <ul class="right hide-on-med-and-down">
      <li> <a href="species-cards.html">Species</a></li>
      <!--li> <a href="#">Charities</a></li-->
      <li><a href="donate" target="popup"
             onclick="window.open('donate','popup','width=600,height=620'); return false;">Donate</a></li>
      <li><a href="/admin">Log In</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="/admin">Log In</a></li>
      <li><a href="species-cards.html">Species</a>></li>
      <!--li> <a href="#">Charities</a></li-->
      <li><a href="donate" target="popup"
             onclick="window.open('donate','popup','width=600,height=620'); return false;">Donate</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <!--<h1 class="header center teal-text text-lighten-2">FaunaFication</h1> -->
      <div class="row center">
        <h3 class="header col s12 light  text-lighten-2">A Biodiversity Awareness Platform</h3>
      </div>
      <div class="row center">
        <a href="leaflet.html" id="" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax">-->

    <img src="assets/back1.jpg" height="1000" width="80%" alt="Unsplashed background img 1"> -->
  </div>
</div>





<!--   Icon Section   -->
<div class="row teal white-text">
  <!--<br/>
  <img class="materialboxed center-block" src="assets/back2.jpg" height="500" width="70%" alt="Unsplashed background img 1"> -->
  <div class="col s12 m4">

    <div class="icon-block">
      <h2 class="center white-text"><i class="material-icons">filter_vintage</i></h2>
      <h5 class="center">Environmentally Focused</h5>

      <p class="light">We are focused on assisting ecosystems by fostering and preserving flora and fauna which will benefit the people and environment in the long term.</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center white-text"><i class="material-icons">map</i></h2>
      <h5 class="center">Map Based Modeling</h5>

      <p class="light">By utilizing Leaflet we are able to provide users with information that is shown directly to the user, interactive and easy to understand.</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center white-text"><i class="material-icons">face</i></h2>
      <h5 class="center">Get Involved</h5>

      <p class="light">We provide information on how users can get involved to help solve these issues and educate themselves more on the matter.</p>
    </div>
  </div>
</div>






<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <h4 class="center header teal-text">Challenges WildLife are Facing</h4>
      <blockquote class="center teal-text">From 2019-2020 Australia experienced the largest Bush Fire event ever and in total burned an estimated 18.6 million hectares of land and killed nearly 3 billion wild animals.</blockquote>
      <p>The impact of this event has worsened the outlook for struggling species with some researchers believing it has brought some species to extinction. With this event being so recent there is not enough up to date data to verify the true effect on the local flora and fauna yet many researchers claim the current figures are conservative at best. Since the majority of data publicly available is not current we are displaying data before the 2019/2020 Bushfires and thus in future there may be a major changes.</p>
      <blockquote class="center teal-text">Native species will struggle to recover due to invasive species devasting Australia's unique environment</blockquote>
      <p>Due to Australia's lack of an Apex predator, the local wildlife is unaccustomed to invasive species such as feral cats and foxes and the numbers of invasive species cannot be regulated easily, leading to massive population growth and overconsumption.</p>
      <p>For years the government has implemented hunting and poisoning programs in attempt to regulate invasive species. However the species have never been truly wiped out and usually grow resistant to poisons and viruses over time leading to the population bouncing back.</p>
      <h5 class="teal-text center subheader">Invasive species in Australia</h5>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header teal white-text">Cats</div>
          <div class="collapsible-body"><span>Domestic cats are an issue for the local wildlife, however they become a much greater issue once they have escaped and have become feral. Cats will kill solely for the sport and can rely on the massive rabbit population for food thus other species can be killed for sport. It is estimated that cats kill 2 billion animals in Australia annually. Despite the massive toll that feral cats have on the environment, there have been protests to stop cat culling and poisoning programs due to the attachment of a household pet but it should be understood that a feral cat is completely different to a domesticated cat. It is advised that all pet owners should neuter their cats and rather than abandon a litter either get them de-sexed or have them euthanized. </span></div>
        </li>
        <li>
          <div class="collapsible-header teal white-text">Foxes</div>
          <div class="collapsible-body"><span>Foxes prey on small mammals in Australia and can survive even in the Australian outback. These foxes hunt species that are already struggling in Australia due to cats and bushfires that further prevent the population from growing.</span></div>
        </li>
        <li>
          <div class="collapsible-header teal white-text">Rabbits</div>
          <div class="collapsible-body"><span>8 Rabbits were first introduced to Australia by an aristocrat who was not a good hunter. The following years the population exponentially increased and caused a massive issue on the environment leading to "Rabbit proof" fence's being constructed around Australia to keep them at bay. today there are over 200 million Rabbits across the nation due to this single incident and the government has resorted to weaponized viruses to control the population. </span></div>
        </li>
        <li>
          <div class="collapsible-header teal white-text">Cane Toads</div>
          <div class="collapsible-body"><span>Cane toads are seen as the worst invasive species due to there high resilience and being extremely poisonous, when other animals eat a cane toad it usually results in death. It may be hard to believe but Cane Toads have migrated across Australia being originally introduced in Queensland they can now be found all around Australia.  </span></div>
        </li>
        <li>
          <div class="collapsible-header teal white-text">Camels</div>
          <div class="collapsible-body"><span>Before modern transport, Camels were used to navigate the harsh environment of the Outback. Many of these Camels were released into the desert when no longer needed. Camels consume massive amounts of water and local vegetation in an already scarce environment leading to a depletion of resources affecting both flora and fauna. To cull populations military personal sniped camels from a helicopter to cover ground rapidly.</span></div>
        </li>
      </ul>


      <h4 class="subheader center teal-text">How can we solve this issue?</h4>
      <p>To solve this issue accountability and awareness are important. Raising public awareness will motivate others to pitch in and potentially sway their political stance, leading to approval of policies that benefit this cause. This issue covers an entire continent and is brought about by a variety of factors, meaning that solving the issue requires action on an individual and bureaucratic level.</p>

      <a href="donate" target="popup" class="waves-effect waves-light btn center-block"
         onclick="window.open('donate','popup','width=600,height=620'); return false;">Donate</a>



    </div>
  </div>
</div>
















<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">There are a variety of ways to help out such as donating, volunteering and lifecycle changes.</h5>
        <p class="grey-text text-lighten-4">We believe that change starts begins individual smale scale action which will eventually integrate itself into society and push for change and innovation on a global level.</p>

      </div>


    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>





<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>



<script src="/socket.io/socket.io.js"></script>
<script>

  const socket = io()
  socket.on('test',(msg) =>{
    console.log('test: '+msg);
  })

  $(document).ready(function(){
    $('.collapsible').collapsible();
    document.cookie = ("name=Quokka")
  });

</script>



</body>
</html>