<!DOCTYPE html>
<html lang="en">
<head>


  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">FaunaFication</a>
      <ul class="right hide-on-med-and-down">
        <li> <a href="species-cards.html">Species</a></li>
               <!--li> <a href="#">Charities</a></li-->
               <li><a href="donate" target="popup"
                onclick="window.open('donate','popup','width=600,height=620'); return false;">Donate</a></li>
        <li><a href="#">Log In</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Log In</a></li>
        <li><a href="species-cards.html">Species</a>></li>
                <!--li> <a href="#">Charities</a></li-->
                <li><a href="donate" target="popup"
                  onclick="window.open('donate','popup','width=600,height=620'); return false;">Donate</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">FaunaFication</h1>
        <div class="row center">
          <h5 class="header col s12 light">A Biodiversity Awareness Platform</h5>
        </div>
        <div class="row center">
          <a href="leaflet.html" id="" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/quokka-long.png" alt="Unsplashed background img 1"></div>
  </div>





      <!--   Icon Section   -->
      <div class="row teal white-text">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">filter_vintage</i></h2>
            <h5 class="center">Environmentally Focused</h5>

            <p class="light">We are focused on assisting ecosystems by fostering and preserving flora and fauna which will benefit the people and environment in the long term.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">map</i></h2>
            <h5 class="center">Map Based Modeling</h5>

            <p class="light">By utilizing Leaflet we are able to provide users with information that is shown directly to the user, interactive and easy to understand.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">fingerprint</i></h2>
            <h5 class="center">Get Involved</h5>

            <p class="light">We provide information on how users can get involved to help solve these issues and educate themselves more on the matter.</p>
          </div>
        </div>
      </div>






  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <h4 class="header center teal-text">From 2019-2020 Australia experienced the largest Bush Fire event ever and in total burned an estimated 18.6 million hectares of land and killed nearly 3 billion wild animals.</h4>
        <p>The impact of this event has worsened the outlook for struggling species with some researchers believing it has brought some species to extinction. With this event being so recent there is not enough up to date data to verify the true effect on the local flora and fauna yet many researchers claim the current figures are conservative at best. Since the majority of data publicly available is not current we are displaying data before the 2019/2020 Bushfires and thus in future there may be a major changes.</p>
        <h4 class="subheader center teal-text">Native species will struggle to recover due to invasive species devasting Australia's unique environment</h4>
        <p>Due to Australia's lack of an Apex predator, the local wildlife is unaccustomed to invasive species such as feral cats and foxes and the numbers of invasive species cannot be regulated easily, leading to massive population growth and overconsumption.</p>
        <p>For years the government has implemented hunting and poisoning programs in attempt to regulate invasive species. However the species have never been truly wiped out and usually grow resistant to poisons and viruses over time leading to the population bouncing back.</p>
        <h4 class="subheader center teal-text">How can we solve this issue?</h4>
        <p>To solve this issue accountability and awareness are important. Raising public awareness will motivate others to pitch in and potentially sway their political stance, leading to approval of policies that benefit this cause. This issue covers an entire continent and is brought about by a variety of factors, meaning that solving the issue requires action on an individual and bureaucratic level.</p>

        <a href="donate" target="popup" class=" waves-effect waves-light btn"
           onclick="window.open('donate','popup','width=600,height=620'); return false;">Donate</a>



      </div>
    </div>
  </div>
















  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>


      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>





  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>


  <script src="/socket.io/socket.io.js"></script>
  <script>
  
  const socket = io()
    socket.on('test',(msg) =>{
      console.log('test: '+msg);
    })
  
  </script>



  </body>
</html>
