<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Leaflet CSS package-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!--Materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Make sure you put this AFTER Leaflet's CSS {LEAFLET JS PACKAGE]-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <!-- set map size-->
    <style>#mapid { height: 500px; width: 800px; }</style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">FaunaFication</a>
        <ul class="right hide-on-med-and-down">
            <li> <a href="species-cards.html">Species</a></li>
            <li><a href="./donation.html">Donate</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="/admin">Log In</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a target="_blank" rel="noopener noreferrer" href="/admin">Log In</a></li>
            <li><a href="species-cards.html">Species</a>></li>
            <li><a href="./donation.html">Donate</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<h4 class="center subheader teal-text" id="species-name"></h4>
<h5 class="center subheader teal-text" id="species-pop"></h5>
<h5 class="center subheader teal-text" id="species-status"></h5>
<!-- map box for leaflet to display -->
<div id="mapid" class="center-block"></div>
<h5 class="center subheader teal-text">Threats:</h5>
<ul class="collection center" id="species-threats">
    <li class="collection-item">Fires</li>
    <li class="collection-item">Feral Cats and Foxes</li>
</ul>
<img src="assets/quokka-long.png" class="center-block" id="species-pic" height="600" width="600"/>

















<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>


        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>

<!-- Call javascript to initialize and set leaflet as well as page text -->
<script src="js/lealfet.js"></script>


</body>
</html>