<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Leaflet CSS package-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!--Materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Make sure you put this AFTER Leaflet's CSS {LEAFLET JS PACKAGE]-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <!-- set map size-->
    <style>#mapid { height: 500px; width: 800px; }</style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">FaunaFication</a>
        <ul class="right hide-on-med-and-down">
            <li> <a href="species-cards.html">Species</a></li>
            <li> <a href="#">Charities</a></li>
            <li><a href="#">Log In</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Log In</a></li>
            <li><a href="species-cards.html">Species</a>></li>
            <li><a href="#">Charities</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>


<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="#!" class="breadcrumb">Info</a>
            <a href="#!" class="breadcrumb">Mapped Data</a>
            <a href="#!" class="breadcrumb">Conservation Efforts</a>
        </div>
    </div>
</nav>

<!-- -->
<h1 id="species"></h1>
<h2 id="population"></h2>
<p id="info">Loading ....................</p>





<!-- map box for leaflet to display -->
<div id="mapid"></div>


<!--IBM WATSON DISCOVERY API -->
<div class="row">
    <div class="col s12 m6">
        <h2>News regarding the species</h2>
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title" id="sentiment"></span>
                <p id="article"></p>
            </div>
            <div class="card-action">
                <a href="#" id="article-ref">View article</a>
                <a href="https://www.wwf.org.au/what-we-do/species/quokka#gs.zgp23l">recommended charity</a>
            </div>
        </div>
    </div>
</div>




<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>


        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>

<!-- Call javascript to initialize and set leaflet as well as page text -->
<script src="js/lealfet.js"></script>


</body>
</html>