<!DOCTYPE html>
<html lang="en">

<head>


  <title>FaunaFication</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/success.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">FaunaFication</a>
      <ul class="right hide-on-med-and-down">
        <li> <a href="new-species-cards.html">Species</a></li>
        <li> <a href="./charities.html">Charities</a></li>
        <li><a href="./donation.html">Donate</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="/admin">Log In</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="new-species-cards.html">Species</a></li>
        <li> <a href="./charities.html">Charities</a></li>
        <li><a href="./donation.html">Donate</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="/admin">Log In</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>




  <h3 style="text-align: center;background-color: white;font-family: 'Roboto', sans-serif;">Thank you! We have received your donation!</h3>
  <h4 style="text-align: center; font-size: 7mm; background-color: white;font-family: 'Roboto', sans-serif;">Thank you for your generous donation, we are very appreciated. If you
    are interested, please check out the information below </h4>



  <div class="row">
    <div class="col s12 m12 l5 offset-l1">
      <div class="card">
        <div class="card-image">
          <img src="./assets/Quokka_Sam-West.jpg">
          <span class="card-title">Meet the Quokka
          </span>
        </div>
        <div class="card-content">
          <p>If you’re ever lucky enough to meet a Quokka, chances are you’ll break out in a grin. This popular
            marsupial is synonymous with Perth’s favourite holiday spot, Rottnest Island – a short ferry ride from the
            Western Australian port of Fremantle.</p>
        </div>
        <div class="card-action">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.natureaustralia.org.au/what-we-do/our-priorities/wildlife/wildlife-stories/meet-the-quokka/">Read
            more
            <i class="material-icons">open_in_new</i>
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l5">
      <div class="card">
        <div class="card-image">
          <img src="./assets/Gouldian-Finch_Sompreaw.jpg">
          <span class="card-title">Australia’s Endangered Animals</span>
        </div>
        <div class="card-content">
          <p>Since European settlement and introduced predators, hundreds of species have become extinct in Australia.
            Today, nearly 1 in 3 of our unique mammals is at risk of extinction!

            Get to know 5 of the 300 hundred Australian species at risk of disappearing forever.</p>
        </div>
        <div class="card-action">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.natureaustralia.org.au/what-we-do/our-priorities/wildlife/wildlife-stories/australias-endangered-animals/">Read
            more
            <i class="material-icons">open_in_new</i>
          </a>

        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col s12 m12 l5 offset-l1">
      <div class="card">
        <div class="card-image">
          <img src="./assets/northern quoll.jpg">
          <span class="card-title">Northern Quoll
          </span>
        </div>
        <div class="card-content">
          <p>The Northern Quoll is the smallest of the four Australian quoll species. Predation by feral cats is a major
            threat to Northern Quolls. The impacts of cats are exacerbated by extensive hot fires and grazing, which
            reduce ground cover and hence shelter for small mammals. AWC protects three populations of Northern Quoll
            and their habitat on a number of our northern sanctuaries.</p>
        </div>
        <div class="card-action">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.australianwildlife.org/wildlife/northern-quoll/">Read more
            <i class="material-icons">open_in_new</i>
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l5">
      <div class="card">
        <div class="card-image">
          <img src="./assets/blue-eye.jpg">
          <span class="card-title">Australia's smallest freshwater fish is perilously close to extinction.

          </span>
        </div>
        <div class="card-content">
          <p>The Red-finned Blue-eye is listed as critically endangered by the International Union for Conservation of
            Nature (IUCN), and is included in their report of the planet’s 100 most endangered species. It's also listed
            as endangered under Australian (EPBC) and Queensland legislation.</p>
        </div>
        <div class="card-action">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.bushheritage.org.au/species/red-fin-blue-eye">Read more
            <i class="material-icons">open_in_new</i>
          </a>

        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col s12 m12 l5 offset-l1">
      <div class="card">
        <div class="card-image">
          <img src="./assets/sawfish.jpg">
          <span class="card-title">Largetooth Sawfish
          </span>
        </div>
        <div class="card-content">
          <p>Although sawfish look somewhat like sharks, they are actually rays. They have an elongated snout or
            “rostrum” that is studded with teeth that they swing from side to side to stun schooling fishes, crustaceans
            and invertebrates upon which they feed. Large tooth sawfishes are most commonly encountered in estuaries and
            shallow bays (Wueringer, 2010; Wueringer et al. 2012). </p>
        </div>
        <div class="card-action">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.floridamuseum.ufl.edu/discover-fish/species-profiles/pristis-pristis/">Read more
            <i class="material-icons">open_in_new</i>
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l5">
      <div class="card">
        <div class="card-image">
          <img src="./assets/wedge-tailed-eagle.jpg">
          <span class="card-title">Wedge-tailed Eagles

          </span>
        </div>
        <div class="card-content">
          <p>The Wedge-tailed Eagle is one of 24 diurnal (day-active) raptor species in Australia. Like other birds of
            prey, it has a hooked bill and large talons. It can weigh 4kg, measure 1m from head to tail-tip and has a
            wingspan of up to 2.3m (females are larger than males).</p>
        </div>
        <div class="card-action">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.bushheritage.org.au/species/wedge-tailed-eagles">Read more
            <i class="material-icons">open_in_new</i>
          </a>

        </div>
      </div>
    </div>
  </div>






  <div class="row">
    <div class="col s12 m12 l5 offset-l1">
      <div class="card">
        <div class="card-image">
          <img src="./assets/frog.jpg">
          <span class="card-title">Australian endangered species: Torrent frogs
          </span>
        </div>
        <div class="card-content">
          <p>Torrent frogs are an interesting group of frogs found in the rainforests of north-east Australia. There are
            four species in the group: the Mountain Mistfrog (Litoria nyakalensis), the Armoured Mistfrog (Litoria
            lorica), the Waterfall Frog (Litoria nannotis) and the Common Mistfrog (Litoria rheocola).</p>
        </div>
        <div class="card-action">
          <a target="_blank" rel="noopener noreferrer"
            href="https://theconversation.com/australian-endangered-species-torrent-frogs-13748">Read more
            <i class="material-icons">open_in_new</i>
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l5">
      <div class="card">
        <div class="card-image">
          <img src="./assets/lord howe.jpg">
          <span class="card-title">Lord Howe Island stick insect

          </span>
        </div>
        <div class="card-content">
          <p>The Lord Howe Island phasmid is the world’s rarest insect and lives only on a remote sea stack</p>
        </div>
        <div class="card-action">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.australiangeographic.com.au/blogs/creatura-blog/2014/06/lord-howe-island-stick-insect-phasmid/">Read
            more
            <i class="material-icons">open_in_new</i>
          </a>

        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col s12 m12 l5 offset-l1">
      <div class="card">
        <div class="card-image">
          <img src="./assets/Margaret.jpg">
          <span class="card-title">THE MARGARET RIVER BURROWING CRAYFISH
          </span>
        </div>
        <div class="card-content">
          <p>Most people are aware that the south west region of Western Australia is a biodiversity hotspot. But it’s
            not so well known that we have a significant number of endemic freshwater crayfish, including the genus
            Engaewa and the species Engaewa pseudoreducta, the Margaret River Burrowing Crayfish.</p>
        </div>
        <div class="card-action">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.ecoedge.com.au/the-margaret-river-burrowing-crayfish/">Read more
            <i class="material-icons">open_in_new</i>
          </a>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l5">
      <div class="card">
        <div class="card-image">
          <img src="./assets/Pygmy-Possum_Amanda-McLean-Copy-1.jpg">
          <span class="card-title">Little pygmy possum found on Kangaroo Island after fears of decimation in bushfire

          </span>
        </div>
        <div class="card-content">
          <p>A little pygmy possum has been found on Kangaroo Island for the first time since bushfire destroyed most of
            their habitat in last summer’s devastating blaze.</p>
        </div>
        <div class="card-action">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.theguardian.com/australia-news/2020/dec/07/little-pygmy-possum-found-on-kangaroo-island-after-fears-of-decimation-in-bushfire">Read
            more
            <i class="material-icons">open_in_new</i>
          </a>

        </div>
      </div>
    </div>
  </div>





  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our
            full time job. Any amount would help support and continue development on this project and is greatly
            appreciated.</p>


        </div>


      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>





  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="./js/successPayment.js"></script>

  





</body>

</html>