<!DOCTYPE html>
<html lang="en">
<head>
    <title>FaunaFication-Species</title>
    <!-- CSS  -->
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel = "stylesheet"
          href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet"
          href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type = "text/javascript"
            src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">FaunaFication</a>
        <ul class="right hide-on-med-and-down">
            <li> <a href="species-cards.html">Species</a></li>
            <li> <a href="#">Charities</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="http://localhost:3000/admin">Log In</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a target="_blank" rel="noopener noreferrer" href="http://localhost:3000/admin">Log In</a></li>
            <li><a href="species-cards.html">Species</a>></li>
            <li><a href="#">Charities</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="row teal white-text">
    <div class="icon-block">
        <h2 class="center white-text"><i class="material-icons">filter_vintage</i></h2>
        <h5 class="center">THEIR FUTURE IS IN OUR HANDS.</h5>

        <p class="light center">While we might focus our efforts on charismatic animals — like rock-wallabies, black cockatoos, quolls and marine turtles — their protection enhances the survival of many other species. Entire landscapes and ecosystems benefit from our approach.
            Together, we can work for the conservation of Australia's most threatened and endangered species, restore their habitats and win the fight against extinction.</p>
    </div>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <video class="responsive-video" autoplay width="100%" height="100px" style="border: none; right: 0;top: 0; margin: 0px"  >
                <source src="assets/animal.mp4">
            </video>
            <div class="container" style="position: relative">

                <h2 class="header center white-text">Species</h2>
            </div>
        </div>
    </div>
    <br/>
</div>

<div class="cards" id="species"></div>
<img class="image_card">








<script src="js/species-cards.js"></script>"

</body>
</html>